<?xml version="1.0"?>
<!-- 
    This launcher sets up the nodes to send commands to the vehicle.
-->

<launch>
    <arg name="vehicle_frame" default="cf2" /> 
    <arg name="uri" default="radio://0/100/2M/E7E7E7E7E7" /> 


    <!--
    ===================================================
    CF Bridge 
    -->
    <include file="$(find demo_launchers)/launch/cf_bridge.launch">
        <arg name="uri" value="$(arg uri)" />
        <arg name="frame" value="$(arg vehicle_frame)" />
    </include>


    <group ns="$(arg vehicle_frame)"> 
        <!--
    ===================================================
    Contoller Node
    -->
     <include file="$(find demo_launchers)/launch/ext_control.launch">
         <arg name="topics/setpoint_topic" value="/$(arg vehicle_frame)/setpoint" />
         <arg name="topics/control_topic" value="/$(arg vehicle_frame)/control" />
         <arg name="topics/ctrl_perf_topic" value="/$(arg vehicle_frame)/ctrl_perf" />
         <arg name="topics/state_topic" value="/$(arg vehicle_frame)/external_codom" />
     </include>

     <!--
    ===================================================
    Command Converter
    -->
    <node name="cmd_vel_converter"
        pkg="controller"
        type="cmd_vel_converter_node"
        output="screen">
        <param name="topics/control" value="/$(arg vehicle_frame)/control" />
        <param name="topics/cmd_vel" value="/$(arg vehicle_frame)/cmd_vel" />
    </node>
</group>

<!--
===================================================
Bag recording 

- /setpoint: Trajectory setpoint for the crazyflie 
-->
<node pkg="rosbag" name="record_ctrl_$(arg vehicle_frame)" type="record" args="-O /tmp/$(arg vehicle_frame)_control $(arg vehicle_frame)/control $(arg vehicle_frame)/cmd_vel /$(arg vehicle_frame)/logMotors $(arg vehicle_frame)/ctrl_perf"/>
</launch>
