<?xml version="1.0"?>
<!--
    Global Launch File to start the system.
    The following nodes will be started:
     - VRPN Client Node
     - Estimator Nodes for the drones
     - Arena Node
     - Commander + Guidance Nodes
-->
<launch>
<!--
    <arg name="vehicle_frame" default="cf3" />
    <arg name="uri" default="radio://0/80/2M/E7E7E7E703" />
-->
    <arg name="vehicle_frame" default="cf1" />
    <arg name="uri" default="radio://0/121/2M/E7E7E7E7E7" />
    <arg name="target" default="target" />
    <arg name="nodeB" default="nodeB" />
    <arg name="ip" default="192.168.1.198" />
    <arg name="port" default="3883" />
    
    <arg name="server" default="RS2" />
	<arg name="provide_position" default="True" />
    <arg name="provide_distance" default="False" />


<!-- ===================================== -->
<!-- Launch the data aquisition component 
     Source of raw pose data: VRPN Server 
     -->
<include file="$(find demo_launchers)/launch/vrpn_launch.launch">
    <arg name="ip" value="$(arg ip)" />
    <arg name="port" value="$(arg port)" />
</include>


<node pkg="gtrack_server"
    name="gtrack_server_node"
    type="gtrack_server"
    output="screen">
</node>


<!-- ===================================== -->
<!-- Launch the estimator of the object state from
     the VRPN raw data.
     -->
<include file="$(find demo_launchers)/launch/estimator_launch.launch">
    <arg name="vehicle_frame" value="$(arg vehicle_frame)" />
</include>


<!-- ===================================== -->
<!-- Launch the Arena Node
<include file="$(find demo_launchers)/launch/arena.launch">
</include>
-->

<!-- ======================================== -->
<!-- Launch the controller/guidance componets -->
<include file="$(find demo_launchers)/launch/commander_launch.launch">
    <arg name="vehicle_frame" value="$(arg vehicle_frame)" />
    <arg name="commander_id" value="cm3" />
    <arg name="obst_frame" value="cf2" />
</include>

<node pkg="manager" 
    name="swarm_manager" 
    type="manager_node.py"
    respawn="true"
    respawn_delay="3"
    output="screen">
</node>


<include file="$(find demo_launchers)/launch/radio_server.launch">
    <arg name="rs_name" value="$(arg server)" />
</include>


<include file="$(find demo_launchers)/launch/cf_bridge.launch">
        <arg name="uri" value="$(arg uri)" />
        <arg name="frame" value="$(arg vehicle_frame)" />
        <arg name="server" value="$(arg server)" />
        <arg name="provide_position" value="$(arg provide_position)" />
        <arg name="provide_distance" value="$(arg provide_distance)" />
</include>

<!--
<node pkg="rviz" 
        type="rviz" 
        name="rviz" 
        args="-d $(find state_aggregator)/launch/cyphy_rviz.rviz" > 
</node>
-->

</launch>
