<?xml version="1.0"?>
<launch>
        <arg name="vehicle_frame" default="cf2" />

<!-- VEHICLE 1 -->
<group ns="$(arg vehicle_frame)">
<!--
===========================================================================
Run the data aggregator node, which takes the information from external 
sensors and provides an estimator of the drone state.
-->
<node pkg="state_aggregator" name="aggregator" type="state_aggregator" 
        respawn="true"
        respawn_delay="3"
        output="screen"> 
        <!-- Topic parameters -->
        <param name="sigmax" value="0.5" type='double' />
        <param name="sigmay" value="0.0001" type='double' />
        <param name="param/target_name" value="$(arg vehicle_frame)" />

        <param name="topics/out_ext_position_topic" value="external_position" />
        <param name="topics/out_ext_pose_topic" value="external_pose" />
        <param name="topics/out_ext_pose_rpy_topic" value="external_pose_rpy" />
        <param name="topics/out_ext_odom_topic" value="external_odom" />
	    <param name="topics/out_ext_codom_topic" value="external_codom" />

    	<param name="time_delay" value="0.0" type='double' />
</node>
</group>


</launch>


