<?xml version="1.0"?>

<launch>
  <!-- Topics. -->
  <arg name="topics/setpoint_topic" default="setpoint" />
  <arg name="topics/state_topic" default="state" />
  <arg name="topics/control_topic" default="control" />
  <arg name="topics/ctrl_perf_topic" default="ctrl_perf" />

  <arg name="control_mode" value="1"/> <!-- 0: Angle 1: Rates -->

  <!-- Mellinger controller. -->
  <node name="mpc_controller"
        pkg="controller_mpc"
        type="mpc_controller_node"
        output="screen">

    <rosparam file="$(find controller_mpc)/parameters/default.yaml" />
    
    <param name="control_mode" value="$(arg control_mode)" />
    
    <param name="topics/setpoint" value="$(arg topics/setpoint_topic)" />
    <param name="topics/state" value="$(arg topics/state_topic)" />
    <param name="topics/control" value="$(arg topics/control_topic)" />
    <param name="topics/ctrl_perf" value="/$(arg topics/ctrl_perf_topic)" />

  </node>
</launch>
