<?xml version="1.0"?>
<!-- 
     Launcher for the online monitoring of the drone status (Battey, RSSI, etc.)
-->
<launch>
    <arg name="frame" default="cf1"/>

    <node pkg="rviz" 
        type="rviz" 
        name="rviz_$(arg frame)" 
        args="-d $(find state_aggregator)/launch/cyphy_rviz.rviz" > 
    </node>

    <node pkg="rqt_plot"
        type="rqt_plot" 
        name="$(arg frame)_plot_battery" 
        args="/$(arg frame)/battery">
    </node>

    <node pkg="rqt_plot"
        type="rqt_plot" 
        name="$(arg frame)_plot_rssi" 
        args="/$(arg frame)/rssi">
    </node>
</launch>
