<?xml version="1.0"?>
<!-- 
    This launcher start the node managing the connection and 
    communication with the crazyflies.
    
    The "crazyflie_server" provides the services for adding
    vehicles and spawning the respective threads.
-->

<launch>
    <arg name="rs_name" default="RS1" /> 

     <node pkg="crazyflie_driver" 
        type="crazyflie_server" 
        name="CF_RadioServer_$(arg rs_name)" 
        respawn="true"
        respawn_delay="3"
        output="screen">
        <param name="name" value="RS1"/>
    </node>

</launch>
