<?xml version="1.0"?>
<!-- 
     Launcher for the dummy nodes 
-->
<launch>
<arg name="vehicle_frame" default="cf2" />

<group ns="$(arg vehicle_frame)">
    <node pkg="simulator"
        type="simulator"
        name="Simulated_Vehicle"
        output="screen">
        <param name="frame_name" value="$(arg vehicle_frame)" type='str'/>
        <param name="topics/input_control_topic" value="control" type='str'/>
        <param name="topics/output_sensor_topic" value="xsim_sensors" type='str'/>
        <param name="topics/output_state_topic" value="external_codom" type='str'/>
        <param name="param/drone_mass" value="0.032" type='double'/>
        <param name="param/lin_drag_coeff" value="0.002" type='double'/>
        <param name="param/ang_drag_coeff" value="0.001" type='double'/>
        <param name="param/sim_period" value="0.005" type='double'/>
    </node>
</group>
</launch>
