<?xml version="1.0"?>
<launch>
        <arg name="ip" default="192.168.1.198" />
        <arg name="port" default="3883" />
<!--
============================================================================
Run vrpn client
This connects to the optitrack server and produces pose messages regarding 
the CF.
-->
<node 
    pkg="vrpn_client_ros"
    type="vrpn_client_node" 
    name="vrpn_client_node"
    output="screen"
    respawn="true"
    respawn_delay="3">
        <rosparam subst_value="true">
                server: $(arg ip)
                port: $(arg port)
                update_frequency: 500.0
                frame_id: /world
                use_server_time: true
                broadcast_tf: false
                refresh_tracker_frequency: 1.0
        </rosparam>
</node>

</launch>
